# <b>OPENING NEW DOORS</b>

<b>Subway</b> (also known as Doctor's Associates Inc) is an American privately held restaurant franchise that primarily sells submarine sandwiches (subs), salads and beverages.

<b>PROJECT ANALYSIS</b>

In this project where we have constructed a dataset containing detailed information of country's State name and their respective Districts. 

Also provides us with an information on population of Male and Female and their Literacy and number of Male and Female Workers sorted with respect to their Age groups.

Our Intention is clear too set up <b>3</b> more subway stores in major cities to expand our Business and grow with our Culnaries.

In [1]:
import numpy as np
import pandas as pd

<b>DATASET</b>

In [2]:
df=pd.read_csv('India-Districts-Census-2020.csv')
df

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,Workers,Male_Workers,Female_Workers,Main_Workers,Marginal_Workers,Non_Workers,Age_Group_0_29,Age_Group_30_49,Age_Group_50,Age not stated
0,21,JAMMU AND KASHMIR,Jammu,13769622,7324389,6445233,10234215,5777244,4456971,4577598,3757104,820494,3693096,884502,9192024,7351443,3923055,2480265,14859
1,24,HIMACHAL PRADESH,Kangra,13590675,6755319,6835356,10373760,5457987,4915773,6076530,3633804,2442726,2825235,3251295,7514145,6899229,3772548,2874780,44118
2,35,PUNJAB,Gurdaspur,20684907,10913553,9771354,14712471,8168940,6543531,6814242,5738868,1075374,5632002,1182240,13870665,11352789,5502177,3809709,20232
3,55,CHANDIGARH,Chandigarh,9499050,5225967,4273083,7248942,4188114,3060828,3637224,2953431,683793,3473361,163863,5861826,5421699,2733732,1340505,3114
4,88,HARYANA,Faridabad,16287597,8694990,7592607,11454651,6614460,4840191,5213061,4292397,920664,4457844,755217,11074536,9860418,4331862,2079261,16056
5,99,RAJASTHAN,Ganganagar,17722512,9390060,8332452,10740087,6398172,4341915,8214048,5366880,2847168,6125067,2088981,9508464,10511001,4519899,2551356,140256
6,132,UTTAR PRADESH,Saharanpur,31197438,16506954,14690484,18693972,10981026,7712946,9336096,8200224,1135872,7944309,1391787,21861342,20058201,6927624,3904758,306855
7,248,ARUNACHAL PRADESH,Papum Pare,1589157,802638,786519,1089432,592146,497286,591948,371367,220581,460413,131535,997209,1085328,394308,106704,2817
8,265,NAGALAND,Dimapur,3409299,1776546,1632753,2502333,1351278,1151055,1362150,896805,465345,1101222,260928,2047149,2190528,887409,329562,1800
9,277,MANIPUR,Imphal West,4661928,2295486,2366442,3533634,1853865,1679769,1920483,1156860,763623,1494081,426402,2741445,2510460,1333314,804546,13608
10,283,MIZORAM,Aizawl,3602781,1793430,1809351,3065355,1525923,1539432,1571724,941787,629937,1362690,209034,2031057,2123028,972846,504828,2079
11,289,TRIPURA,West Tripura,15531651,7914852,7616799,12252186,6506982,5745204,6283602,4503654,1779948,4717782,1565820,9248049,8463816,4497471,2561733,8631
12,298,MEGHALAYA,East Khasi Hills,7433298,3696741,3736557,5202270,2585430,2616840,2941074,1838727,1102347,2606184,334890,4492224,4913649,1731852,779184,8613
13,305,ASSAM,Nagaon,25413912,12952008,12461904,15396444,8296650,7099794,8819982,6900552,1919430,6614937,2205045,16593930,16004493,6102306,3295008,12105
14,328,WEST BENGAL,Jalpaiguri,34855614,17847576,17008038,22489020,12569598,9919422,13616190,9822249,3793941,10383885,3232305,21239424,20335563,9319041,5181003,20007
15,364,JHARKHAND,Ranchi,26228277,13454433,12773844,17202897,9767196,7435701,10285803,6695703,3590100,6805584,3480219,15942474,15680637,6533442,3682494,331704
16,388,ORISSA,Ganjam,31761279,16012962,15748317,19890450,11363868,8526582,13515948,8910243,4605705,8106696,5409252,18245331,17822088,8322804,5519241,97146
17,410,CHHATTISGARH,Raipur,36574848,18433674,18141174,23667741,13438422,10229319,15818976,9899676,5919300,11332242,4486734,20755872,22088691,9343395,5041656,101106
18,439,MADHYA PRADESH,Indore,29490273,15296643,14193630,20782170,11606679,9175491,11413755,8451495,2962260,10235259,1178496,18076518,16895430,8050176,4437864,106803
19,585,GOA,North Goa,7362072,3750093,3611979,5967540,3165642,2801898,2948922,2152125,796797,2424933,523989,4413150,3428334,2344797,1575315,13626
20,592,KERALA,Malappuram,37016280,17642952,19373328,29801835,14376636,15425199,9561816,8083413,1478403,7668423,1893393,27454464,21654045,9372249,5960799,29187
21,602,TAMIL NADU,Thiruvallur,33552936,16884558,16668378,25125489,13461399,11664090,13842486,9932067,3910419,11231262,2611224,19710450,17327664,10392975,5792526,39771

<b>EMBEDDING TABLEU WORKBOOK IN JUPYTER NOTEBOOK</b>

In order to explain the story line and the conclusions in brief, we have embedded tableu with jupyter notebook

In [1]:
%%HTML
<div class='tableauPlaceholder' id='viz1607964122655' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wa&#47;Wallmart_sales_analysis&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Wallmart_sales_analysis&#47;Dashboard1' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wa&#47;Wallmart_sales_analysis&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1607964122655');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.minWidth='1000px';vizElement.style.maxWidth='100%';vizElement.style.minHeight='850px';vizElement.style.maxHeight=(divElement.offsetWidth*0.75)+'px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='1000px';vizElement.style.maxWidth='100%';vizElement.style.minHeight='850px';vizElement.style.maxHeight=(divElement.offsetWidth*0.75)+'px';} else { vizElement.style.width='100%';vizElement.style.minHeight='2050px';vizElement.style.maxHeight=(divElement.offsetWidth*1.77)+'px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

<b>TABLEU TAB 1: DISTRICT WISE POPULATION</b>

We have incured the location of every district and their size of Total population.

<b>TABLEU TAB 2: STATE  WISE DISTRICT POPUALTION</b>

From the Visulization we have fetched the name of state, district and its population sorted form highest to the lowest.

FIltered Top 5 Districts with the highest population are:<br>
Malappuram<br>
Raipur<br>
Jalpaiguri<br>
Thiruvallur<br>
Ganjam

<b>TABLEU TAB 3: FEMALE LITERATE</b>

From the Pie-chart, we have filtered the top 5 district with highest female Literacy are:<br><br>
Malappuram<br>
Thiruvallur<br>
Raipur<br>
Jalpaiguri<br>
Indore<br>

Based on the Percentage, we can visualize that Malappuram has <b>27.34%</b> litercay of the total 5 districts.

<b>TABLEU TAB 4: MALE LITERATE</b>

From the Pie-chart, we have filtered the top 5 district with highest male Literacy are:<br><br>
Malappuram<br>
Thiruvallur<br>
Raipur<br>
Jalpaiguri<br>
Indore<br>

Based on the Percentage, we can visualize that Malappuram has <b>21.965%</b> litercay of the total 5 districts.

<b>TABLEU TAB 5: AGE GROUP POPULATION 0 - 29 Years</b>

For Population Age Group between 0 - 29 years, after filtering Raipur has the highest Population of 22088691.

<b>TABLEU TAB 6: AGE GROUP POPULATION 30 - 49 Years</b>

For Population Age Group between 30 - 49 years, after filtering Thiruvallur has the highest Population of 10392975.

<b>TABLEU TAB 7: AGE GROUP POPULATION 50 AND ABOVE Years</b>

For Population Age Group between 50 and above years, after filtering Malappuram has the highest Population of 5960799.

<b>TABLEU TAB 8: AVERAGE FEMALE WORKING POPULATION</b>

In Bubble chart we have filtered the top 5 districts on the working population of females, on average Raipur has the
highest number of female working.

<b>TABLEU TAB 9: AVERAGE MALE WORKING POPULATION</b>

In Bubble chart we have filtered the top 5 districts on the working population of males, on average Raipur, Thiruvallur, Jalpaiguri are in the maximum range of male working

<b>CONCLUSION</b>

Upon the above Visulization 

<b>Raipur</b> 
1. It is ranked 2nd in terms of Population.
2. It has a good literacy rate in terms of both male and female.
3. It has the highest population in the age group of 0 to 29.
4. It has the highest working Population

<b>Thiruvallur</b> 
1. It is ranked 4th in terms of Population.
2. It has a good literacy rate in terms of both male and female.
3. It has the highest population in the age group of 30 to 49.
4. It has the highest Male working Population.

<b>Malappuram</b> 
1. It is ranked 1st in terms of Population.
2. It has a best literacy rate in terms of both male and female.
3. It has the highest population in the age group of 50 and above.

<b>Jalpaiguri</b> 
1. It is ranked 3rd in terms of Population.
2. It has a better literacy rate in terms of both male and female.
3. It has the highest Male working Population.

From the above conclusions we can draw that <b>Raipur</b> and <b>Thiruvallur</b>  are the main hotspots to establish the business first.

There is tie between <b>Malappuram</b> and <b>Jalpaiguri</b> as they balance equally in some aspects.